<section>
  <p>
    Sempre nutri uma paixão pela computação em sua totalidade, desde o manuseio
    dos componentes do computador até a exploração do sistema operacional e a
    criação de software. Contudo, em 2017, fui arrebatado pelo fascínio do
    desenvolvimento web, abrangendo tanto o front-end quanto o back-end.
    A partir desse momento, dediquei-me ao estudo incessante desse campo,
    com ênfase na concepção de aplicações e sites completos.
  </p>
  <p>
    Atualmente, tenho a oportunidade de aplicar esses conhecimentos diariamente,
    trabalhando na <a href="https://www.mjvinnovation.com/pt-br/" target="_blank" rel="noopener noreferer">MJV</a>
    e prestando consultoria para a
    <a href="https://www.bradescoseguros.com.br/clientes" target="_blank" rel="noopener noreferer">Bradesco Seguros.</a>
    Nesses ambientes, tenho o privilégio de conceber e desenvolver aplicações web integralmente,
    desde sua concepção até a implementação final.
  </p>
</section>
