<a href="{{data?.link}}" target="_blank" rel="noopener noreferer">
  <article>
    <section class="experience-period" *ngIf="data?.experiencePeriod">{{ data?.experiencePeriod }}</section>
    <section class="content">
      <header>
        <p class="title">
          {{ data?.title }} <ng-container *ngIf="data?.hirer">· {{ data?.hirer }}</ng-container>
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
        </svg>
      </header>
      <p class="sub-title" *ngIf="data?.subTitle">{{ data?.subTitle }}</p>
      <p class="description" [innerHTML]="data?.description"></p>

      <footer>
        @for (tag of data?.tags; track $index) {
          <app-tag [tecnology]="tag"></app-tag>
        }
      </footer>
    </section>
  </article>
</a>
